@font-face {
   font-family: 'Vazir';
   src: url('../../../../public/fonts/Vazir/Vazir.woff2') format('woff2');
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: 'Vazir';
   src: url('../../../../public/fonts/Vazir/Vazir-Bold.woff2') format('woff2');
   font-weight: bold;
   font-style: normal;
}

@font-face {
   font-family: 'Vazir';
   src: url('../../../../public/fonts/Vazir/Vazir-Light.woff2') format('woff2');
   font-weight: 300;
   font-style: normal;
}

@font-face {
   font-family: 'Vazir';
   src: url('../../../../public/fonts/Vazir/Vazir-Medium.woff2') format('woff2');
   font-weight: 500;
   font-style: normal;
}

@font-face {
   font-family: 'Vazir';
   src: url('../../../../public/fonts/Vazir/Vazir-Thin.woff2') format('woff2');
   font-weight: 100;
   font-style: normal;
}